body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #CFE8A9;
    color: grey;
}
/* nav bar*/
.navbar{
    display: flex;
    position: fixed;
    background-color: rgb(241, 231, 232);
    width: 100%;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    transition: 0.4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    margin: 10px 20px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size:20px ;
}

.navbar ul li a:hover{
    color: brown;
}
.img{
    height: 40px;
    width: 200px;
}

.navbar.active{
    background-color: black;
} 
.navbar.active ul li a{
    color: white;
}

/* nav bar*/

img{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs{
    background-color: #FFFDE3;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
}

.button{
   padding: 1rem 0;
   border: none;
   font-size:1rem;
   background: #E64848;
   cursor: pointer;
   transition: all 0.3s linear;
   letter-spacing: 0.25rem;
}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1){
    border-top-left-radius: 0.5rem;
}
.button:nth-child(3){
    border-top-right-radius: 0.5rem;
}

.button:hover:not(.live){
    background-color: #C21010;
    color: white;
}

.tab-content{
    padding: 2rem 1.5rem;
}

@media(min-width:992px){
    .img{
        margin-bottom: 0;
    }
    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;

    }
}

.content{
    display: none;
}

.content.live{
    display: block;
}

.button.live{
    background-color:#FFFDE3 ;
}
